/* ---------------------------------------------------
    Tarefas
----------------------------------------------------- */

.verTarefas {
    margin-right: 5px;
}

.hTareas {
    font-size: 20px;
    text-align: center;
    /*background-color: #17a2b8;*/
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
    color: white;
    margin-bottom: 20px;
}

.bTarefa {
    border: 1px solid black;
}

.tituloTarefa {
    font-size: 20px;
}


/* .paxinaActual {
    border-bottom: dotted 1px lightskyblue;
}

.paxinaActual2 {
    color: white;
    background: lightsteelblue;
} */

.verHistorialSmall {
    width: 85px;
    font-size: 10px;
}

.descripcionSmall {
    font-size: 16px !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}